Source: memorize-flashcards
Section: education
Priority: optional
Maintainer: Omer Dagan <mr.omer.dagan@gmail.com>
Build-Depends: debhelper (>= 9), rsync, dh-python, python-all
Standards-Version: 3.9.5
Homepage: https://github.com/mromerdagan/memorize-flashcards

Package: memorize-flashcards
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Flash cards memorization trainer (knosole app)
 Konsole flash cards memorization trainer. The key feature
 is that the trainer chalenge you more with the cards you
 show less familiarity with. Effective on frequent use.
